<div class="container rounded bg-white mt-5 mb-5">
  <div class="row">
      <div class="col-md-4 border-right">
          <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img src="https://i.pinimg.com/736x/00/38/64/003864b2fe7d991ba831bd24436a742e.jpg" alt="" width="100%"></div>
      </div>
      <div class="col-md-8 border-right">
          <div class="p-3 py-5">
              <div class="d-flex justify-content-between align-items-center mb-3">
                  <h2 class="text-right">Add Customer</h2>
              </div>
              <div class="row mt-2">
                  <div class="col-md-12"><label class="labels">Full name</label><input type="text" class="form-control"></div>
              </div>
              <div class="row mt-2">
                  <div class="col-md-6 pb-2"><label class="labels">Day of birth</label><input type="text" class="form-control"></div>
                  <div class="col-md-6 pb-2">
                      <p class="labels mb-1">Gender</p>
                      <input type="radio" name="gender" value="male" id="male"> <label style="margin-right: 10%" for="male">male</label>
                      <input type="radio" name="gender" value="female" id="female"> <label for="female">female</label>
                  </div>
                  <div class="col-md-6 pb-2"><label class="labels">Id card</label><input type="text" class="form-control"></div>
                  <div class="col-md-6 pb-2"><label class="labels">Phone</label><input type="text" class="form-control" ></div>
              </div>
              <div class="row mt-3">
                  <div class="col-md-6"><label class="labels">Email</label><input type="text" class="form-control" ></div>
                  <div class="col-md-3"><label class="labels">Type customer</label>
                      <select class="form-select" aria-label="Default select example">
                          <option value="1">Diamond</option>
                          <option value="2">Platinium</option>
                          <option value="3">Gold</option>
                          <option value="4">Silver</option>
                          <option value="5">Member</option>
                      </select>
                  </div>
              </div>
              <div class="row mt-2">
                  <div class="col-md-12"><label class="labels">Address</label><input type="text" class="form-control"></div>
              </div>
              <div class="mt-5 text-center"><button class="btn btn-primary" type="button">Submit</button></div>
          </div>
      </div>
      <div class="d-flex flex-row align-items-center back"><i class="fa fa-long-arrow-left mr-1 mb-1"></i>
          <h6>Back to home</h6>
      </div>
  </div>
</div>